EN ESTE ARCHIVO AGREGAREMOS, las librerías y versiones que usaste para que esto funcionar, y para hacerlo más reproducible:

Para el proyecto  SQL:

import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv


Para el proyecto de test A/B:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import statsmodels.stats.proportion as sm
import itertools


Para el proyecto Telecom:

import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import numpy as np
from scipy import stats


